* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    min-height: 87vh;
    font-family: obliqua, sans-serif;
    font-size: 16px;
}

/* Header */

header {
    display: flex;
    justify-content: space-around;
    padding: 1.5%;
    border: 1px solid black;
}

header img {
    width: 120px;
    height: 100px;
    object-fit: contain;
    border-radius: 50%;
}

.logo img {
    object-fit: contain;
    background-color: #d3d4d6;
}

header span {
    align-self: center;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.welcome {
    min-height: 100vh;
}

.padding-welcome {
    background-color: ghostwhite;
}

.padding-login {
    min-height: 50vh;
}

/* Profile Picture and Modal */

.profile-picture-uploader {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 70, 170, 0.9);
}

.modal-content {
    text-align: initial;
    background-color: ghostwhite;
    padding: 10px;
    border-radius: 5px;
}

/* Registration Form */

.registration-form {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: white;
}

.registration-form form {
    display: flex;
    flex-direction: column;
    width: 35%;
    align-items: center;
}

.c2 {
    margin: 5% auto 5%;
    background-color: rgb(9, 9, 69);
    border-radius: 15px;
    max-width: 30%;
    min-width: 280px;
}

.friends-list {
    flex-direction: column !important;
    align-items: center !important;
}

@media (min-width: 1200px) {
    .c2,
    .c2-login {
        max-width: 23%;
    }

    .friends-list {
        flex-direction: row !important;
    }
}

.c2-login {
    max-width: 30%;
    text-align: center;
    padding: 1%;
    border: 2px solid red;
    transform: translateY(-10%);
}

@media (min-width: 1500px) {
    .step-2 {
        max-width: 20%;
        padding: 1% 5% 1% 5%;
        max-width: 24%;
    }
}

.username {
    font-weight: bold;
    width: 200px;
    margin: 0 35px 20px;
    height: 35px;
    padding: 6px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #f6f7f9;
    color: #748194;
    font-size: 14px;
}

.btn,
#btn {
    font-weight: bold;
    width: 200px;
    margin: 0 35px 20px;
    height: 45px;
    padding: 6px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #ee9ba3;
    color: white;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 45px;
}

.btn-login {
    max-width: 200px;
}

#btn {
    margin: 0;
    width: 147px;
    display: inline-block;
    margin-top: 0.5em;
}

.signup {
    border-radius: 5px;
    width: 30%;
}

.signup1 {
    color: #748194;
    font-size: 30px;
    text-align: center;
}

a {
    text-decoration: none;
}

.signup2 {
    color: #748194;
    font-size: 20px;
    text-align: center;
}

.signup {
    display: initial;
}

.signin {
    display: initial;
}

footer {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.btn-logout {
    background: none !important;
    border: none;
    padding: 0 !important;
    color: #069;
    cursor: pointer;
}

/* App styling */

.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

#error {
    color: red;
}

.bio-img {
    max-width: 20%;
}

/* Profile Section */

.profile {
    margin: 5% auto 5%;
    background-color: rgb(9, 9, 69);
    width: 50%;
    min-height: 50vh;
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
}

.profile-img {
    max-width: 100%;
    border: 1px solid cornsilk;
    border-radius: 8px;
}

.p-wrapper {
    text-align: center;
    width: 92%;
}

.aside {
    max-height: 90%;
    padding: 1rem;
    margin-top: 0;
    transform: translateX(-35px);
}

#search-others {
    color: yellow;
    cursor: pointer;
    margin-top: 5%;
    border: 1px solid white;
    padding: 0.25em;
    border-radius: 4px;
}

.bio-editor {
    max-height: 90%;
}

.button-image {
    max-width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.aside h2 {
    margin: 0;
    text-decoration: underline;
}

.find-list {
    list-style: none;
    padding-left: 0;
}

.main-find {
    background-color: rgb(9, 9, 69);
    height: 100%;
}

.find-people {
    background-color: rgb(9, 9, 69);
    min-height: 40vh;
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
}

.find-list {
    color: wheat;
}

#list-item a {
    color: wheat;
}

.list-image {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.list-image img {
    max-width: 100px;
    max-height: 100px;
}

.current-list .profile-picture {
    max-width: 50%;
    list-style: none;
}
.incoming-list img {
    max-width: 50%;
}

.chat-wrapper {
    display: flex;
    top: 150px;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 8%;
}

.centered-chat {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid white;
    border-radius: 15px;
}

.message-list {
    list-style: none;
    padding-left: 0;
    padding: 1rem;
    margin: 1em;
    overflow-y: scroll;
}

.message-list li {
    margin-top: 0.5em;
    font-size: 1.5em;
}

.chat {
    height: 100%;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 800px;
    color: white;
}

.chat-form {
    display: flex;
    border-radius: 15px;
}

.chat-form textarea {
    width: 80%;
    height: 70px;
}

.chat-form button {
    width: 30%;
    border-radius: 15px;
}

.message {
    display: flex;
    align-items: center;
}

.message-image img {
    margin-top: 2%;
}

.message a {
    color: yellow;
}

.message-image img {
    width: 110px;
    height: 110px;
    object-fit: cover;
    margin-right: 0.5em;
}

.message-date {
    margin-left: 0.5em;
}

/* Header Nav */

header ul {
    list-style: none;
    padding-left: 0;
    display: flex;
}

header li {
    margin: 2em 1em 1em;
}

/* "Friends" component styling mobile first: */

.app header,
.welcome header {
    background: red;
    width: 100%;
    margin: 0 auto;
    display: grid;

    grid-auto-rows: 80px;
    grid-auto-flow: column;
    grid-auto-columns: 0.5fr;
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: minmax(60px, 150px) 1fr minmax(60px, 150px);
    text-align: center;
    padding: 10px;
    font-size: 1.125em;
}

header span img {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#header-logo {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

/* Nav in Header */
.header-nav,
header nav {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

.header-nav ul,
header nav ul {
    display: flex;
    flex-direction: column;
}

.profile-picture {
    grid-column: 3 / 4;
}

/* Profile template Responsive mobile-first */

.profile {
    display: grid;
    grid-template-columns: minmax(200px, 1fr);
    width: auto;
    margin: 0 auto;
}

.aside {
    transform: translateX(0);
    text-align: center;
}

.button-image {
    max-width: 100%;
}

.button-image p,
.button-image a {
    padding: 1.5em;
}

.bio-editor {
    text-align: center;
    margin-bottom: 5%;
}

.app footer {
    background: red;
    font-size: 1.5em;
}

footer {
    color: white;
}

footer a,
header a {
    color: yellow;
}

footer button {
    font-size: 0.75em;
    color: royalblue;
    text-decoration: none;
}

.p-wrapper img {
    width: 85%;
}
#profile-img {
    max-width: 300px;
}

.profile-text {
    text-align: end;
    padding-right: 2%;
}

.h1-profile {
    text-align: center;
}

@media (min-width: 500px) {
    .profile {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 50% 1fr;
    }
    .profile h2 {
        font-size: 3em;
    }

    .app header,
    .welcome header {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;
    }
    .header-nav {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
    }
    .header-nav ul {
        flex-direction: row;
    }
    .p-wrapper img {
        max-height: 70%;
    }
    .aside,
    .button-image {
        grid-row: 2 / span 1;
    }
    .main-profile {
        background: royalblue;
        margin: 0;
    }
    .search input {
        font-size: 1.25em;
    }
    .list-image p {
        margin: 0 0.25em;
    }
}

/* Friends */
.friends {
    display: grid;
    color: white;
    grid-template-columns: minmax(180px, 450px);
    grid-auto-rows: min-content;
    text-align: center;
}

.current-list p,
.app h1,
.App a {
    text-align: center;
    color: white;
}
.App ul {
    text-align: center;
    margin: 0 auto;
}

.App li {
    color: yellow;
}

.friends li {
    list-style: none;
    margin-top: 4%;
}

.friends .btn {
    margin: 1%;
}

@media (min-width: 500px) {
    .friends {
        grid-template-columns: 1fr;
    }
    .incoming-list,
    .outgoing-list,
    .current-list {
        display: grid;
        grid-template-rows: 70px 1fr;
        grid-template-columns: repeat(3, 1fr);
    }
    .incoming-list h3,
    .outgoing-list h3,
    .current-list h3 {
        grid-column: 2;
        margin-bottom: 0;
    }
    .incoming-list ul,
    .outgoing-list ul,
    .current-list ul {
        grid-column: 1 / -1;
        margin-top: 0;
    }
}

/* Find people mobike */

@media (max-width: 500px) {
    .find-people {
        display: grid;
        text-align: center;
    }
    .find-people input {
        font-size: 1.125em;
    }
}
